.titleLine {
    padding: 1rem;
    padding-left: 0;
    width: fit-content;
    max-width: 100%;
    text-align: left;
}

.titleLine h1 {
    margin: 0;
    text-align: left;
    color: var(--color-button);
    /* text-shadow:
        -1px -1px 0 white,
        0 -1px 0 white,
        1px -1px 0 white,
        1px 0 0 white,
        1px 1px 0 white,
        0 1px 0 white,
        -1px 1px 0 white,
        -1px 0 0 white; */
}

.blackBg {
    /* background-color: rgba(0, 0, 0, .5); */
    /* padding: 1rem; */
}

.description {
    color: var(--color-text);
    max-width: 40rem;
    color: black;
    padding-bottom: 2rem;
}

.description>p {
    margin-top: 0;
}

.description>p:last-child {
    margin-bottom: 0;
}

.content {
    padding: 0 128px;
}

.heroButtons {
    padding-top: 1rem;
    display: flex;
}

.buttonsSpacer {
    width: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

@media screen and (max-width: 480px) {
    .titleLine {
        width: 100%;
        padding: 4rem 0;
    }

    .titleLine h1 {
        text-align: center;
    }

    .heroButtons {
        width: 100%;
        padding: 64px 2rem;
        flex-wrap: wrap;
    }

    .buttonsSpacer {
        height: 36px;
    }

    .top {
        flex-flow: column-reverse;
    }
}