@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('/static/fonts/BebasNeueBold.eot');
    src: url('/static/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/BebasNeueBold.woff') format('woff'),
        url('/static/fonts/BebasNeueBold.ttf') format('truetype');
}

:root {
    --border-radius: 0px;
    --button-border-radius: 5px;

    --color-logo: black;

    --color-text: black;
    --color-button: #D04E29;
    --color-gray: #232224;
    --color-green: #D04E29;

    --font-family: 'Roboto', Helvetica, sans-serif;
    --font-family-primary: 'Bebas Neue', Helvetica, sans-serif;
    --font-size: 14px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

* {
    box-sizing: border-box;
}

@media screen and (max-width : 480px) {
    :root {
        --font-size: 16px;
    }
}